.mainArea {
  width: 100vw;
  min-height: 100%;
  background-color: #efefef;
}

.btnMenu {
  background-color: inherit;
  border: none;
}

.darkBtnMenu {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
    brightness(102%) contrast(102%);
}

.darkMainArea {
  background-color: #222;
}

@media (min-width: 1025px) {
  .mainArea {
    width: calc(100vw - 29.6rem);
    position: absolute;
    right: 0;
  }
  .btnMenu {
    display: none;
  }
}

.mainAreaContent {
  height: calc(100% - 7.2rem);
  background-color: #efefef;
}
