.sideBar {
  width: 29.6rem;
  height: 100vh;
  overflow-x: hidden;
  transform: translateX(-100%);
  background-color: white;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  padding: 2rem;
}

.darkSideBar {
  background-color: #222;
}

.logo {
  width: 24rem;
}

.slideLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.logoSlideLinksContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (min-width: 1025px) {
  .sideBar {
    position: fixed;
    transform: translateX(0);
    display: flex;
  }
}
